.main {
  display: flex;
  flex-direction: column;
}

.center {
  height: 100%;
  padding: 0;
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
}

.top {
  display: flex;
}

.header {
  margin-left: 1.4rem;
}

.header > h1 {
  font-size: 24px;
}

.header > h3 {
  font-size: 16px;
  font-weight: 400;
  color: gray;
  margin-top: -0.8rem;
}

.github-icon {
  height: 4rem;
  width: 4rem;
  margin-top: 0.5rem;
}
